<ul class="nav navbar-nav">
    @{/*
        <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
        <li>@Html.ActionLink("Colony", "Index", "Colony")</li>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        */}
</ul>